:root {
  /* Colors */
  --color-primary: #23272e;
  --color-primary--light: #303641;
  --color-primary--dark: #21252c;
  --color-red: #d86972;
  --color-red--dark: #a94c54;
  --color-orange: #bb8b5e;
  --color-green: #97c278;
  --color-green--medium: #bedfa5;
  --color-green--light: #c3e1ad;
  --color-green--lighter: #c6e3b0;
  --color-blue: #387bb2;
  --color-blue--light: #8eb9dd;
  --color-blue--dark: #2c6593;
  --color-purple: #c678dd;
  --color-purple--dark: #9c5bb0;

  --container: 65em;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;

}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  color: white;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
html {
    background-color: #21252c;
}
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  width: min(100%, var(--container));
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.button{
    margin: 1rem;
    background-color: var(--color-red);
    font-weight: bold;
    cursor: pointer;
    border-color: transparent;
    color: white;
    border-radius: 1rem ;
    padding: 2rem;
    -webkit-border-radius: 1rem ;
    -moz-border-radius: 1rem ;
    -ms-border-radius: 1rem ;
    -o-border-radius: 1rem ;
}
.button.button-no{
  align-items: flex-start;
  background-color: var(--color-purple);
}
.button:hover, 
.button:focus{
    background-color: var(--color-purple);
}

.game-section{
display: flex;

flex-direction: column;
gap: 2rem;
justify-content: center;
align-items: center;
height: 100vh;
}
.heart{
  height: 100px;
  z-index: -1;
  position: absolute;
}
.heart-one{
    left: 0%;
}
.heart-two{
  right: 0%;
}
.cat{
  height: 100px;
}