/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 1.2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

/* Navigation styles */

nav button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

nav button.active {
    background-color: rgb(130, 64, 52);
    color: #fff;
}

/* Main styles */
main {
    padding: 20px;
}

.container {
    max-width: 80vw;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.searchForm p {
    margin-bottom: 0.6rem;
}

.searchForm label {
    font-weight: bold;
}

.searchForm input[type="text"] {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.searchForm button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}

.searchForm button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 20px;
}
